:root {

    /*Header variables*/
    --background-body: #080808;
    --text-color: #FFFFFF;
    --color-nav-item: #080808;

    /*Services session variables*/
    --background-service-box: #1f1f21;

    /*Portfolio variables*/
    --background-session-portfolio: #FAFAFA;
}